<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <a class="navbar-brand navbar-right" href="index.erb">ChatMe</a>
    <button type="button" class="btn btn-default dropdown-toggle navbar-right" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       <span title="Menu" class="glyphicon glyphicon-align-justify"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#">Home<span class="glyphicon glyphicon-home"></span></a></li>
      <li class="divider"></li>
      <li><a href="#">Messages<span class="glyphicon glyphicon-envelope"></span></a></li>
      <li class="divider"></li>
      <li><a href="#">Friends List<span class="glyphicon glyphicon-star"></span></a></li>
      <li class="divider"></li>
      <li><a href="#">Login<span class="glyphicon glyphicon-log-in"></span></a></li>
      <li class="divider"></li>
      <li><a href="#">Log Out<span class="glyphicon glyphicon-log-out"></span></a></li>
      <li class="divider"></li>
      <li><a href="#">Sign Up <span class="glyphicon glyphicon-pencil"></span></a></li>
    </ul>
  </div>
</nav>

<div class="jumbotron">
  <div class="container">
    <h1 class="main header">Welcome to ChatMe</h1>
    <p>ChatMe is a chat/message shareing site. You can comunitate with friends or family easily with out hassle.</p>
  </div>
</div>